<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="play.ground.log4j2.appender">
  <Appenders>
	<Console name="Console" target="SYSTEM_OUT">
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	</Console>
	<KibanaAppender name="Kibana" host="localhost" port="2929">
       <JSONLayout complete="false"/>
    </KibanaAppender>
    <Socket name="Socket" host="localhost" port="2930">
       <JSONLayout complete="false" compact="true" properties="true" eventEol="true"/>
    </Socket>
  </Appenders>
  
  <Loggers>
	<!-- Deactivate Metrics logs --> 
	<Logger name="play.ground.metrics" additivity="false" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="play.ground.log4j2.unit" additivity="false" level="trace">
      <AppenderRef ref="Kibana"/>
    </Logger>
    <Logger name="play.ground.log4j2.unit.SocketAppenderTest" additivity="false" level="trace">
      <AppenderRef ref="Socket"/>
    </Logger>
    <!-- Consume logs for play.ground -->
    <Logger name="play.ground" additivity="false" level="debug">
      <AppenderRef ref="Console"/>
    </Logger>
	<Root level="info">
	  <AppenderRef ref="Console"/>
	</Root>
    
    
  </Loggers>
</Configuration>